main {
    background-color: hsl(234, 29%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: solid;
    width: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 100px;

}

.content {
    flex: 1;
    padding: 20px;
    width: 300px;

}

.image {

}

img {
    width: 95%;
    display: block;
    padding: 10px;
}

form {
    display: grid;
}

.attribution {

}
