@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Mobile first design */
:root {
    --primary-tomato: hsl(4, 100%, 67%);
    --neutral-dark-slate-grey: hsl(234, 29%, 20%);
    --neutral-charcoal-grey: hsl(235, 18%, 26%);
    --neutral-grey: hsl(231, 7%, 60%);
    --neutal-white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-width: 700;
    font-size: 40px;
}

p {
    font-width: 400;
    font-size: 16px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    line-height: 150%; /* 24px */
}

form {
    display: block;
    /*border: solid;*/
}

input, button {
    width: 100%;
    border-radius: 8px;
}

input {
    margin: 8px 0 20px 0;
    height: 56px;
    padding: 20px;
    border: 1px solid grey;
}

button {
    height: 56px;
    border: none;
    background-color: var(--neutral-dark-slate-grey);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button:hover {

    background: var(--primary-tomato, linear-gradient(204deg, #FF6A3A 0%, #FF527B 100%));
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
}


/* classes */

.hero-image {
    width: 100%;
    height: auto;
}

.container {
    /*display: flex;*/
}

.content {
    width: 90%;
    margin: 40px 20px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-items: center;
}

.list-icon {
    margin-right: 20px;
}

.success-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.success-container {
    display: none;
    width: 90%;
    /*border: solid;*/
    flex-direction: column;
}

#icon-success {
    width: 64px;
}

#success-button {
    margin-top: 263px;
}

#success-heading {
    margin-top: 40px;
    margin-bottom: 24px;
}


@media only screen and (min-width: 600px) {
    main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("assets/images/wallpaper.jpg");
        background-size: cover;
    }

    .hero-image {
        flex: 1;
        width: 400px;
        content: url("assets/images/illustration-sign-up-desktop.svg");
    }

    .content {
        flex: 1;
        width: 376px;
        padding: 40px;
    }

    .container {
        width: 928px;
        height: 641px;
        border-radius: 36px;
        padding: 24px;
        display: flex;
        background-color: white;
        box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
    }

    .success-background {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .success-container {
        background-color: white;
        padding: 64px;
        border-radius: 36px;
        width: 504px;
        height: 520px;
    }

    #success-button {
        margin-top: 40px;
    }


}
